@use '../../../styles/variables' as *;

window.Bar {
  .clock-container {
    background-color: $container-bg;
    border: $border-width solid $container-border;
    margin: $margin;
    padding: $padding $padding-large;
    border-radius: 0px;
    color: $text-color;
    font-weight: bold;
  }
}
