window.Bar {
  .clock-container {
    background-color: $bar-bg;
    border: $bar-border-width solid $bar-border;
    margin: $bar-margin;
    padding: $bar-padding $bar-padding-large;
    border-radius: 0px;
    color: $bar-text;
    font-family: $bar-font-family;
    font-size: $bar-font-size;
    font-weight: bold;
  }
}
