window.Bar {
  .workspaces-container {
    background-color: $bar-bg;
    border: $bar-border-width solid $bar-border;
    margin: $bar-margin;
    padding: $bar-padding;
    border-radius: 0px;
  }

  .workspaces {
    padding: $bar-workspace-spacing;
  }

  button.workspace {
    min-width: $bar-workspace-size;
    min-height: $bar-workspace-size;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transition: all 0.2s ease;
    background-image: none;
    border: none;
    font-size: 2px;
  }

  button.workspace.empty {
    background-color: $bar-workspace-empty;
    color: transparent;
  }

  button.workspace.occupied {
    background-color: $bar-workspace-occupied;
    color: transparent;
  }

  button.workspace.active {
    border-radius: 12px;
    min-width: $bar-workspace-pill-width;
  }
}
