$notif-progress-height: 3px;

.Notifications {
  background-color: transparent;
}

.notif-popup {
  background-color: $notif-bg;
  border: $notif-border-width solid $notif-border;
  margin: $notif-margin;
  min-width: $notif-width;
}

.notif-icon {
  padding: $notif-padding;
}

.notif-content {
  padding: $notif-padding;
}

.notif-header {
  margin-bottom: $notif-padding;
}

.notif-app {
  color: $notif-color-app;
  font-size: $notif-font-size-app;
  font-weight: bold;
}

.notif-summary {
  color: $notif-color-summary;
  font-weight: bold;
  font-size: $notif-font-size-summary;
}

.notif-body {
  color: $notif-color-body;
  font-size: $notif-font-size-body;
}

.notif-progress {
  trough, trough progress {
    min-height: $notif-progress-height;
    border-radius: 0;
  }

  trough {
    background-color: $notif-bg;
  }

  trough progress {
    background-color: $notif-color-progress;
  }
}
