@mixin sysinfo-box {
  background-color: $bar-bg;
  border: $bar-border-width solid $bar-border;
  margin: $bar-margin;
  padding: $bar-padding $bar-padding-large;
  color: $bar-text;
  font-family: $bar-font-family;
  font-size: $bar-font-size;
}

.sysinfo-icon {
  color: $bar-text;
}

.sysinfo-value {
  color: $bar-text;
  font-weight: bold;
}
